// This scss document contains all the colors used througout the project

// Primary colors
$primary-green: #125F31;
$primary-yellow: #FFE174;
$primary-offWhite: #FFFCF0;
$primary-brown: #492A14;

// Secondary colors
$secondary-beige: #FFFAE6;
$secondary-lightBrown: #D9B77B;
$secondary-green: #7FA761;
$secondary-pink: #D97B7B;

$error-red: #ff0000;

// Basis
$grey: #F1F1F1;
$black: #343434;
$white: #FFFFFF;