// This scss document contains all the fonts, their sizes and adjustments used througout the project

// Import fonts from assets/style/fonts folder
@font-face {
    font-family: "Stag Bold";
    src: url("../fonts/Stag_Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Open Sans Regular";
    src: url("../fonts/OpenSans_Condensed-Regular.ttf");
    font-weight: normal;
}

$primary-font: "Stag Bold", serif;
$secondary-font: "Open Sans Regular", sans-serif;

$button-text: 18px;

$line-height: 70px;
$line-height-body: 28px;

$letter: 0.75%;

// Mobil version
$h1: 35px;
$h2: 30px;
$body-text: 14px;

// Desktop version
$h1-desktop: 50px;
$h2-desktop: 45px;
$body-text-desktop: 16px;