// This scss document contains platform sizes, layouts and adjustments used througout the project

// Mobile version
$padding: 0px 45px;
$gap: 20px;

$heading-body-gap: 25px;
$body-button-gap: 50px;
$section-gap: 60px;

// Desktop version
$desktop-screen: 720px;

$padding-desktop: 0px, 70px, 0px, 70px;
$gap-desktop: 32px;

$heading-body-gap-desktop: 30px;
$body-button-gap-desktop: 40px;
$section-gap-desktop: 120px;