@use '../style/global/fonts' as f;
@use '../style/global/_variables.scss' as v;
@use '../style/global/_colors.scss' as c;

section {
    margin: v.$section-gap;

    @media screen and (min-width: v.$desktop-screen) {
        margin: v.$section-gap-desktop;
    }
}

.content-section {
    padding: v.$padding;
    display: flex;
    flex-direction: column;
    gap: v.$gap;

    @media screen and (min-width: v.$desktop-screen) {
        flex-direction: row;
        // TODO: Maybe change the padding so it's not that different from left to right
        padding: 0px 132px 0px 168px;
        gap: 82px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: v.$gap;
}

h2 {
    font-family: f.$primary-font;
    font-size: f.$h2;
    color: c.$black;

    @media screen and (min-width: v.$desktop-screen) {
        font-size: f.$h2-desktop;
        color: c.$black;
    }
}

p {
    font-family: f.$secondary-font;
    font-size: f.$body-text;
    line-height: f.$line-height-body;
    color: c.$black;

    @media screen and (min-width: v.$desktop-screen) {
        font-size: f.$body-text-desktop;
        color: c.$black;

    }
}

img {
    display: none;

    @media screen and (min-width: v.$desktop-screen) {
        display: flex;
        width: 346px;
        height: 323px;
    }
}

ul {
    margin-left: 15px;
}

li {
    font-family: f.$secondary-font;
    font-size: f.$body-text;
    line-height: f.$line-height-body;
    color: c.$black;

    @media screen and (min-width: v.$desktop-screen) {
        font-size: f.$body-text-desktop;
        color: c.$black;
    }
}