@use "./global/mixins" as m;

.intro {
	@include m.flex-center;
	flex-direction: column-reverse;
	text-align: center;
	padding: 60px 46px;

	h2 {
		@include m.font-size-h2;
		margin-bottom: 5px;
	}

	p {
		@include m.font-size-body;
	}

	&__content-container {
		@include m.flex-center;
		flex-direction: column;
		gap: 0;
	}

	@include m.desktop-size {
		@include m.flex-center;
		flex-direction: row;
		text-align: left;
		&__content-flex {
			flex: 1;
		}
		&__content-container {
			display: block;
			padding: 0 100px;
		}
	}

	&__image {
		
		@include m.desktop-size {
			display: block;

			@include m.flex-center;
			flex: 1;

			& img {
				height: auto;
				object-fit: cover;
			}
		}
	}
}
